<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <style>
        body{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        h1{
            font-family : 'Black Han Sans', sans-serif;
        }
        p{
            font-size: 1.4em;
            font-family : 'Black Han Sans', sans-serif;}
        label{
            font-size: 1.2em;
            font-family: 'Black Han Sans', sans-serif;
        }
        label:hover{
            border:2px solid white;
        }
    </style>
</head>
<body>
    <h1>{{ mindtest.mindtest_text }}</h1>


    <form action="{% url 'mindtest:vote' mindtest.id%}" method="post">
        {% csrf_token %}

        {% for question in mindtest.question_set.all %}
        <p>{{ question.question_text }}</p>

            {% for choice in question.choice_set.all %}
<!--                <input type="radio" id="choice{{ forloop.counter }}" name="choice" value="{{ choice.id }}">-->
<!--            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>-->
            <input type="radio" id="{{ choice.id }}" name="choice" value="{{ choice.id }}">
            <label for="{{ choice.id }}">{{ choice.choice_text }}</label><br>
            {% endfor %}

        {% endfor %}

        <input type="submit" value="Vote">
    </form>
<script>

</script>
</body>
</html>